/* Basic Style */
.container {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix .eisenhower-matrix__image {
  width: 100%;
}

.eisenhower-matrix .eisenhower-matrix__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .eisenhower-matrix {
    text-align: center;
  }

}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__new-task-container {
  display: flex;
}

.todo__incomplete-tasks,
.todo__completed-tasks {
  margin: 0;
  padding: 0px;
}

.todo__task  > .todo__section-header,
.main-container > .todo__section-header {
  list-style: none;
}

.todo-task__checkbox,
.todo__task-input,
.button {
  outline: none;
}

.todo__button-add,
.todo-task__button-edit,
.todo-task__button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todo__button-add:hover,
.todo-task__button-edit:hover,
.todo-task__button-delete:hover {
  color: #3a3a3a;
}

/* Heading */
.todo__section-header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todo__task-input:focus {
  color: #333;
}

/* New Task */
.todo__top-section > .todo__section-header {
  display: block;
  margin: 0 0 20px;
}

.todo__new-task-container > .todo__task-input {
  width: 318px;
}

/* Task list */
.todo__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__task > * {
  vertical-align: middle;
}

.todo-task__checkbox {
  margin: 0 10px;
}

.todo-task__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo__task > .todo__task-input {
  width: 226px;
}

.button-delete__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo__completed-tasks .todo-task__title {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.todo__task .todo__task-input {
  display: none;
}

.todo__task_edit-mode .todo__task-input {
  display: inline-block;
  width: 224px;
}

.todo__task_edit-mode .todo-task__title {
  display: none;
}